header {
  height: 100px;
  width: 100%;
  background-color: darkslategray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header h3 {
  color: aliceblue;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: 'Mochiy Pop P One', sans-serif;;
}